*
    margin: 0
    padding: 0
    box-sizing: border-box

body
    font-family: 'Roboto', sans-serif
    font-weight: 400
    font-size: 16
    letter-spacing: 2px
    background-color: #ffffff
    padding: 50px
    color: #777777

.container
    background-color: #F7F7F7

.header
    position: relative
    height: 95vh
    background: linear-gradient(90deg, rgba(186, 133, 84, 0.7) 0.03%, rgba(1,1 , 1, 0.7) 99.94%), url(../img/baloons.jpg) center / cover no-repeat
    //clip-path: polygon(0 0, 100% 0, 100% 100%, 0 80%)
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 75%)
    &__logo
        position: absolute
        left: 50px
        top: 50px
        height: 70px
        width: 56px

.title-box
    position: absolute
    top: 40%
    left: 50%
    transform: translate(-50%, -50%)
    width: 100%
    text-align: center

.title-text
    color: #FFFFFF
    margin-bottom: 50px
    &__line-main
        display: block
        letter-spacing: 10px
        font-weight: 800
        font-size: 50px
        line-height: 60px
        text-transform: uppercase
        animation: fromRightToLeft
        animation-duration: 2s
        animation-timing-function: ease
    &__line-secondary
        display: block
        letter-spacing: 5px
        font-weight: 200
        font-size: 40px
        animation: fromLeftToRight
        animation-duration: 2s
        animation-timing-function: ease

.btn
    display: inline-block
    position: relative
    text-decoration: none
    color: #777777  
    background-color: #ffffff
    padding: 15px 40px  
    border-radius: 50px
    transition: all .3s ease

    &:hover
        transform: translateY(-2px)
        box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px
    &:active
        transform: translateY(3px)
        box-shadow: rgba(50, 50, 93, 0.1) 0px 6px 12px -2px, rgba(0, 0, 0, 0.1) 0px 3px 7px -3px
    
    &_animated
        animation: fromBottomToUp 1s ease
        animation-fill-mode: backwards

        &::after
            content: ""
            position: absolute
            top: 0
            left: 0
            width: 100%
            height: 100%
            background-color: #ffffff
            border-radius: 50px
            display: inline-block
            z-index: -1
            transition: all .3s ease
        
        &:hover::after
            transform: scaleX(1.5) scaleY(1.9)
            opacity: 0

@keyframes fromRightToLeft
    0%
        opacity: 0
        transform: translateX(100px)  
    70%
        transform: translateX(-10px)
    100%
        opacity: 1
        transform: translateX(0)

@keyframes fromLeftToRight
    0%
        opacity: 0
        transform: translateX(-100px)  
    70%
        transform: translateX(10px)
    100%
        opacity: 1
        transform: translateX(0)

@keyframes fromBottomToUp
    0%
        opacity: 0
        transform: translateY(50px)  
    100%
        opacity: 1
        transform: translateY(0)
