.about
    padding: 10rem
    text-align: center
    text-shadow: 

.about-row 
    display: grid
    grid-template-columns: 50% 50%

.about-text-column
    color: $color-gray
    text-align: left

.about-text-header
    font-weight: 600
    font-size: 1.8rem
    letter-spacing: 0.2rem
    margin-bottom: 1.5rem
    
.about-text-paragraph
    font-size: 1.4rem
    letter-spacing: 0.2rem
    font-weight: 400
    line-height: 140%
    &:not(:last-child)
        margin-bottom: 4rem

.image-composition
    &__image
        width: 10rem
        cursor: pointer
    