.title_container
    margin-bottom: 8rem

.title-h1
    color: $color-container-text
    margin-bottom: 5rem

    &__line-main
        display: block
        letter-spacing: 1rem
        font-weight: 800
        font-size: 5rem
        line-height: 6rem
        text-transform: uppercase
        animation: fromRightToLeft
        animation-duration: 2s
        animation-timing-function: ease

    &__line-secondary
        display: block
        letter-spacing: .5rem
        font-weight: 200
        font-size: 4rem
        animation: fromLeftToRight
        animation-duration: 2s
        animation-timing-function: ease

.title-h2
    font-size: 3.6rem
    letter-spacing: 1rem
    font-weight: 800
    text-transform: uppercase
    background: linear-gradient(90deg, rgba($color-brown-light, 0.7) 0.03%, rgba($color-brown-dark, 0.7) 99.94%)
    -webkit-background-clip: text
    color: transparent
